* {
  font-family: "Poppins", sans-serif;
}

body {
  text-align: center;
}

table,
th,
td {
  margin: auto;
  border: 2px solid black;
  border-radius: 10px;
  border-spacing: 30px;
  padding: 10px;
}
